<h1 class="zIndexOne" style="color:white;position:absolute;top:25px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);">
  Admin Portal</h1>
<div class="fullPage">
  <div class="overlay"></div>
  <div class="row-flex">
    <div class="flexBoxCustomContainerColumn">
      <div class="columnContainer">
        <h2>Change password</h2>
        <div>
          <input type="text" name="OldPassword" placeholder="Old password" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;border: 0;padding:5px;">
          <input type="text" name="NewPassword" placeholder="New password" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;">
          <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;">Change Password</button>
        </div>
      </div>
    </div>

    <div class="flexBoxCustomContainerRow">
      <div class="lg-col-6" style="padding-right:10px;">
        <h2>Manage Front Page</h2>
        <div style="display:inline">
          <input type="text" name="TwitchUser1" placeholder="User 1 Twitch Username" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;border: 0;padding:5px;">
          <input type="text" name="TwitchUser2" placeholder="User 2 Twitch Username" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;">
          <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;">Update Frontpage</button>
        </div>

      </div>
      <iframe style="display:inline;padding-right:10px;padding-top:5px;padding-bottom:5px;" src="http://player.twitch.tv/?channel=iateyourpie&muted=true"
        frameborder="0" scrolling="no" allowfullscreen="true">
      </iframe>

      <iframe style="display:inline;padding: 5px 0px;" src="http://player.twitch.tv/?channel=spikevegeta&muted=true" frameborder="0"
        scrolling="no" allowfullscreen="true">
      </iframe>
    </div>

  </div>
</div>
