<div class="fullPage">
  <h1 style="text-align:center;color:white;">Admin Portal</h1>
  <div class="row-flex">
    <div class="leftColumnOne">
      <div class="columnContainer">
        <h2>Change password</h2>
        <div>
          <input type="text" name="OldPassword" placeholder="Old password" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;">
          <input type="text" name="NewPassword" placeholder="New password" style="display:block;border-radius:5px;height:25px;margin:5px 5px;">
          <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;">Change Password</button>
        </div>
      </div>
    </div>

    <div class="rightColumnFull">
      <div class="columnContainer">
        <div class="container">
          <div class="row" style="border: solid black;width:100%;">
            <div class="lg-col-6" style="border: solid pink;width:50%;">
              <h2>Manage Frontpage</h2>
              <div style="display:inline">
                <input type="text" name="TwitchUser1" placeholder="User 1 Twitch Username" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;">
                <input type="text" name="TwitchUser2" placeholder="User 2 Twitch Username" style="display:block;border-radius:5px;height:25px;margin:5px 5px;">
                <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;">Update Frontpage</button>
              </div>

            </div>
            <div class="lg-col-6" style="float:right;border: solid red;width:50%;">
              <iframe style="padding-left:50px;display:inline;" src="http://player.twitch.tv/?channel=iateyourpie&muted=true" height="48%"
                width="100%" frameborder="0" scrolling="no" allowfullscreen="true">
              </iframe>
              <br>
              <iframe style="padding-left:50px;display:inline;" src="http://player.twitch.tv/?channel=spikevegeta&muted=true" height="48%"
                width="100%" frameborder="0" scrolling="no" allowfullscreen="true">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="leftColumnTwo">
      jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br> jimmy newtron
      <br>
    </div>
  </div>
</div>
