<button type="button" class="btn btn-primary" routerLink="" style="position:absolute;top:2%;left:2%;border-radius:5px;">
  <i class="fa fa-arrow-left"></i>
</button>

<div *ngIf="!authenticated; else adminPortal">
  <div class="fullPage">
    <div class="row-flex">
      <div class="flexBoxCustomContainerColumn">
        <div class="columnContainer">
          <h2>Admin Login</h2>
          <div>
            <input type="text" [(ngModel)]="Username" placeholder="Username" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;border: 0;padding:5px;">
            <input type="password" [(ngModel)]="Password" placeholder="Password" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;">
            <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;" (click)="authenticateUser()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #adminPortal>
  <h1 class="zIndexOne title">
    Admin Portal</h1>
  <div class="fullPage">
    <div class="row-flex">
      <div class="flexBoxCustomContainerColumn">
        <div class="columnContainer">
          <h2>Change password</h2>
          <div>
            <input type="password" [(ngModel)]="oldPassword" placeholder="Old password" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;border: 0;padding:5px;">
            <input type="password" [(ngModel)]="newPassword" placeholder="New password" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;">
            <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;" (click)="changePassword()">Change Password</button>
          </div>
        </div>
      </div>

      <div class="flexBoxCustomContainerRow">
        <div class="lg-col-6" style="padding-right:10px;">
          <h2>Manage Front Page</h2>
          <div style="display:inline">
            <input type="text" name="TwitchUser1" [(ngModel)]="streamerOne" placeholder="User 1 Twitch Username" style="display:block;border-radius:5px;height:25px;margin: 5px 5px;border: 0;padding:5px;">
            <input type="text" name="TwitchUser2" [(ngModel)]="streamerTwo" placeholder="User 2 Twitch Username" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;">
            <button class="btn btn-primary" type="submit" style="display:block;margin:5px 5px;" (click)="updateStreamers()">Update Frontpage</button>
          </div>

        </div>
        <iframe *ngFor="let streamer of trustedUrl" class="hideOnSmallScreen" style="display:inline;padding-right:10px;padding-top:5px;padding-bottom:5px;"
          [src]="streamer" frameborder="0" scrolling="no" allowfullscreen="true">
        </iframe>
      </div>

      <div class="flexBoxCustomContainerColumn">
        <div class="columnContainer">
          <h2>Change Background</h2>
          <div style="padding-top:5px;text-align:center;">
            <input style="display:none;" type="file" name="uploadBackground" id="uploadBackground" accept=".csv" (change)="uploadExcel($event)"
            />
            <label class="btn btn-primary" style="margin-top:5px;" onclick="document.getElementById('uploadBackground').click();">Upload Background</label>
            <!-- <input type="file" name="NewPassword" placeholder="New password" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;width:200px;"> -->
          </div>
        </div>
      </div>


      <div class="flexBoxCustomContainerRow">
        <h2 style="position: relative;top:-15%;left:50%;transform: translateX(-50%);">Manage Events</h2>
        <div class="row" style="width: 100%">
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Create New Event</h3>
            <div>
              <input type="text" [(ngModel)]="eventRequest.Name">
              <br>
              <button class="btn btn-primary" style="margin-top:5px;" (click)="createEvent()">Create Event</button>
              <!-- <input style="display:none;" type="file" name="createEvent" id="createEvent" accept=".csv" (change)="uploadExcel($event)"
            /> -->
              <!-- <label class="btn btn-primary" style="margin-top:5px;" (click)="open(content)">Create Event</label> -->
            </div>
          </div>
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Update Predictions</h3>
            <div>
              <select [(ngModel)]="manageEventsObject.updatePredictions" style="width:75%">
                <option *ngFor="let event of eventList" [ngValue]="event.id">{{event.name}}</option>
              </select>
              <br>
              <input style="display:none;" type="file" name="uploadExcel" id="uploadExcel" accept=".csv" (change)="uploadExcel($event)"
              />
              <label class="btn btn-primary" style="margin-top:5px;" onclick="document.getElementById('uploadExcel').click();">Upload Excel</label>
            </div>
          </div>
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Update Event Results</h3>
            <div>
              <select [(ngModel)]="manageEventsObject.updateEventResults" style="width:75%">
                <option *ngFor="let event of eventList" [ngValue]="event.id">{{event.name}}</option>
              </select>
              <br>
              <input style="display:none;" type="file" name="uploadEvent" id="uploadEvent" accept=".csv" (change)="uploadResults($event)"
              />
              <label class="btn btn-primary" style="margin-top:5px;" onclick="document.getElementById('uploadEvent').click();">Upload Excel</label>
            </div>
          </div>
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Complete Event</h3>
            <div>
              <select [(ngModel)]="manageEventsObject.completeEvent" style="width:75%">
                <option *ngFor="let event of eventList" [ngValue]="event.id">{{event.name}}</option>
              </select>
              <br>
              <button class="btn btn-primary" type="submit" style="margin-top:5px;" (click)="completeEvent()">Complete Event</button>
            </div>
          </div>
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Delete Event</h3>
            <div>
              <select [(ngModel)]="manageEventsObject.deleteEvent" style="width:75%">
                <option *ngFor="let event of eventList" [ngValue]="event.id">{{event.name}}</option>
              </select>
              <br>
              <button class="btn btn-primary" type="submit" style="margin-top:5px;" (click)="deleteEvent()">Select Event</button>
            </div>
          </div>
          <div class="lg-col-2" style="padding-right:25px;text-align:center;">
            <h3>Activate Event</h3>
            <div>
              <select [(ngModel)]="manageEventsObject.activateEvent" style="width:75%">
                <option *ngFor="let event of eventList" [ngValue]="event.id">{{event.name}}</option>
              </select>
              <br>
              <button class="btn btn-primary" type="submit" style="margin-top:5px;" (click)="activateEvent()">Select Event</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create a New Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width:75%;">
    <input type="text" [(ngModel)]="eventName" name="EventName" placeholder="Event Name" style="display:block;border-radius:5px;height:25px;margin:5px 5px;border: 0;padding:5px;background-color:#C8C8C8">
    <hr>
    <table class="table table-striped">
      <tr>
        <th>Game</th>
        <th>Competitor</th>
        <th>Competitor</th>
        <th>
          <button type="button" class="btn btn-outline-dark" (click)="addNewRow()">+</button>
        </th>
      </tr>
      <tr *ngFor="let row of eventCreateRows">
        <td *ngIf="row.id === editRowId && editColumnId === 0">
          <input type="text" [(ngModel)]="row.game" />
        </td>
        <td *ngIf="row.id !== editRowId || editColumnId !== 0" (click)="toggle(row.id);toggleColumn(0)">
          {{row.game}}
        </td>
        <td *ngIf="row.id === editRowId && editColumnId === 1">
          <input type="text" [(ngModel)]="row.competitor[0]" />
        </td>
        <td *ngIf="row.id !== editRowId || editColumnId !== 1" (click)="toggle(row.id);toggleColumn(1)">
          {{row.competitor[0]}}
        </td>
        <td *ngIf="row.id === editRowId && editColumnId === 2">
          <input type="text" [(ngModel)]="row.competitor[1]" />
        </td>
        <td *ngIf="row.id !== editRowId || editColumnId !== 2" (click)="toggle(row.id);toggleColumn(2)">
          {{row.competitor[1]}}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createEvent()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
