[Unit]
Description=momam_API
After=network.target

[Service]
Type=simple
User=momam
ExecStart=/home/momam/main env:Staging port:443 secrets:/home/momam static:/home/momam/momam
Restart=on-failure

[Install]
WantedBy=multi-user.target
