<div class="container fullscreen">
    <div class="twitch-screen">
      <iframe style="padding-left:50px;"
				src="http://player.twitch.tv/?channel=iateyourpie&muted=true"
				height="50%"
				width="48%"
				frameborder="0"
				scrolling="no"
				allowfullscreen="true">
      </iframe>
       
      <iframe style="padding-left:50px;"
          src="http://player.twitch.tv/?channel=spikevegeta&muted=true"
          height="50%"
          width="48%"
          frameborder="0"
          scrolling="no"
          allowfullscreen="true">
        </iframe>
      
      </div>
  <div class="fillUp">
    <div class="centerStuff">
      <h1 class="title" style="text-align:center">
          MOMAM Prediction Leaderboard
      </h1>
      <input class="colorful" type="serach" value="" placeholder="Search user" />
      <div class="buttonContainer">
          <button class="btn btn-primary" type="submit" >Leaderboard</button> 
          <button class="btn btn-primary" type="submit" routerLink="/user">Search</button>
      </div>
    </div>
  </div>
</div> 