<div class="container fullscreen">
  <div class="twitch-screen">

    <iframe *ngFor="let streamer of trustedUrl" class="hideOnSmallScreen" style="padding-left:50px;" [src]="streamer" height="50%"
      width="48%" frameborder="0" scrolling="no" allowfullscreen="true">
    </iframe>

  </div>
  <div class="fillUp">
    <div class="centerStuff">
      <h1 class="title" style="text-align:center">
        MOMAM Prediction Leaderboard
      </h1>
      <input class="colorful" type="search" [(ngModel)]="user" value="doodo" placeholder="Search user" (keyup.enter)="enterPress()" />
      <div class="buttonContainer">
        <button class="btn btn-primary moveOnResize" type="submit">Leaderboard</button>
        <button class="btn btn-primary" type="submit" routerLink="/user/{{user}}">Search</button>
      </div>
    </div>
  </div>
</div>