<div class="fullPage">
  <div class="container" style="width:100%; margin-top: 25px;">
    <div class="grid hero">
      <!-- <button type="button" class="btn btn-primary" routerLink="" style="position:absolute;margin:5px 10px;border-radius:5px;">
        <i class="fa fa-arrow-left"></i>
      </button> -->
      <div style="width:100%;">
        <button type="button" class="btn btn-primary" routerLink="" style="border-radius:5px;display:inline-block;margin-left:15px;
        vertical-align: middle;">
          <i class="fa fa-arrow-left"></i>
        </button>
        <h1 style="display:inline-block;vertical-align:middle;">Leaderboard
        </h1>
        <label class="switch slider-style ">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>

      </div>
      <div class="scrollbar" id="scrollbar" style="width:100%;height:90%;background-color:transparent;">
        <table style="width: 100%;">
          <thead>
            <tr>
              <th style="width:50px">Place</th>
              <th>Username</th>
              <th style="text-align:right">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr class="userhover" *ngFor=" let user of this.leaderboard; let i=index " (click)="selectUser(user.User, i)">
              <td class="columnPlace" style="text-align:left;padding-left:10px;">&#32;{{i + 1}}</td>
              <td class="columnPlace">{{user.User}}
              </td>
              <td class="columnScore" style="text-align:right "> {{user.Total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
    <div class="grid content" style="overflow: hidden;">
      <h1 style="padding-left:15px;">Next Games</h1>
      <div style="height:60%;">
        <div class="scrollbar" id="scrollbar" style="width:100%;height: 100%;background-color:transparent;">
          <table class="nextGames">
            <thead>
              <tr>
                <th>
                  <br>Upcoming Games</th>
                <th>{{RunnerOne.username}}
                  <br> favored</th>
                <th>{{RunnerTwo.username}}
                  <br> favored </th>
                <th>
                  <br>Abstain</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gameResult of this.gamesBoard ">
                <td>{{gameResult.Game}}</td>
                <td style="text-align:left">&emsp;{{gameResult.Top.Votes}}</td>
                <td style="text-align:left">&emsp;{{gameResult.Second.Votes}}</td>
                <td style="text-align:left">&emsp;{{gameResult.Abstain}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div style="text-align:center;">
        <p style="font-size:18px;">{{RunnerOne.username}} has won {{RunnerOne.score}} out of {{RunnerOne.gamesPlayed}} matches.</p>
        <p style="font-size:18px;">{{RunnerTwo.username}} has won {{RunnerTwo.score}} out of {{RunnerTwo.gamesPlayed}} matches.</p>
        <br>
      </div>
    </div>

    <div class="grid extra">
      <h1 style="padding-left:15px;">User Card</h1>
      <input type="text " name="firstname" [(ngModel)]="user" placeholder="Search Username " style="border-radius:5px;height:30px;border:
          0;padding-left:5px;width:50%;margin-left:15px;outline-width: 0;outline: none;">
      <button type="submit" class="btn btn-primary" style="height:30px;padding: 5px 5px;text-align:center;">
        <i class="fa fa-search"></i>
      </button>
      <hr>
      <div>
        <h3 style="padding-left:15px;font-size:1.15em">{{userCard.User}}'s Profile</h3>
        <table style="width:100%;">
          <tr>
            <th>Current Raw Score:</th>
            <td>{{userCard.Total}}</td>
          </tr>
          <tr>
            <th>Current % Score:</th>
            <td>{{userCard.Percent}}%</td>
          </tr>
          <tr>
            <th>Leaderboard placement:</th>
            <td>{{userCard.LeaderboardPlacement}}</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="grid extraTwo" style="overflow-y:hidden;">
      <div style="width:100%;height:100%;">
        <h1 style="padding-left:15px">{{user}}'s Predictions</h1>
        <div class="scrollbar" id="scrollbar" style="width:100%;height:80%;background-color:transparent;">
          <table style="width:100%">
            <thead>
              <tr>
                <th>Games</th>
                <th>User Prediction</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prediciton of this.userPrediction ">
                <td>{{prediciton.Game}}</td>
                <td style="text-align:left">&emsp;{{prediciton.Prediction}}</td>
                <td style="text-align:left">&emsp;{{prediciton.Winner}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
